{{# each products}}

    <!--Card 1 -->
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
            <!--<h5 class="card-title">Card title</h5>-->
            <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Type: {{type}}</li>
            <li class="list-group-item">Name: {{Name}}</li>
            <li class="list-group-item">Price: {{price}}</li>
            <li class="list-group-item">Color: {{color}}</li>
        </ul>
        <div class="card-body">
            <a href="#" class="card-link">Add To Cart</a>
        </div>
    </div>
    <!--Card 1 end-->
{{/each}}

<!--<ul class="nav nav-tabs" id="myTab" role="tablist">-->
    <!--<li class="nav-item">-->
        <!--<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Shoes</a>-->
    <!--</li>-->
    <!--<li class="nav-item">-->
        <!--<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Shirts</a>-->
    <!--</li>-->

<!--</ul>-->
<!--<div class="tab-content" id="myTabContent">-->
    <!--&lt;!&ndash;Shoes tab start&ndash;&gt;-->
    <!--<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">-->
        <!--<div class="card-deck m-5">-->
            <!--&lt;!&ndash;Card 1 &ndash;&gt;-->
            <!--<div class="card" style="width: 18rem;">-->
                <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                <!--<div class="card-body">-->
                    <!--&lt;!&ndash;<h5 class="card-title">Card title</h5>&ndash;&gt;-->
                    <!--&lt;!&ndash;<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>&ndash;&gt;-->
                <!--</div>-->
                <!--<ul class="list-group list-group-flush">-->
                    <!--<li class="list-group-item">Type: {{type}}</li>-->
                    <!--<li class="list-group-item">Name: {{Name}}</li>-->
                    <!--<li class="list-group-item">Price: {{price}}</li>-->
                    <!--<li class="list-group-item">Color: {{color}}</li>-->
                <!--</ul>-->
                <!--<div class="card-body">-->
                    <!--<a href="#" class="card-link">Add To Cart</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;Card 1 end&ndash;&gt;-->
            <!--&lt;!&ndash;Card 2 &ndash;&gt;-->
            <!--<div class="card" style="width: 18rem;">-->
                <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                <!--<div class="card-body">-->
                    <!--&lt;!&ndash;<h5 class="card-title">Card title</h5>&ndash;&gt;-->
                    <!--&lt;!&ndash;<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>&ndash;&gt;-->
                <!--</div>-->
                <!--<ul class="list-group list-group-flush">-->
                    <!--<li class="list-group-item">Type: {{type}}</li>-->
                    <!--<li class="list-group-item">Name: {{Name}}</li>-->
                    <!--<li class="list-group-item">Price: {{price}}</li>-->
                    <!--<li class="list-group-item">Color: {{color}}</li>-->
                <!--</ul>-->
                <!--<div class="card-body">-->
                    <!--<a href="#" class="card-link">Add To Cart</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;Card 2 end&ndash;&gt;-->
            <!--&lt;!&ndash;card 3&ndash;&gt;-->
            <!--<div class="card" style="width: 18rem;">-->
                <!--<img class="card-img-top" src="..." alt="Card image cap">-->
                <!--<div class="card-body">-->
                    <!--&lt;!&ndash;<h5 class="card-title">Card title</h5>&ndash;&gt;-->
                    <!--&lt;!&ndash;<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>&ndash;&gt;-->
                <!--</div>-->
                <!--<ul class="list-group list-group-flush">-->
                    <!--<li class="list-group-item">Type: {{type}}</li>-->
                    <!--<li class="list-group-item">Name: {{Name}}</li>-->
                    <!--<li class="list-group-item">Price: {{price}}</li>-->
                    <!--<li class="list-group-item">Color: {{color}}</li>-->
                <!--</ul>-->
                <!--<div class="card-body">-->
                    <!--<a href="#" class="card-link">Add To Cart</a>-->
                <!--</div>-->
            <!--</div>-->
            <!--&lt;!&ndash;Card 3 end&ndash;&gt;-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;Shoes tab End&ndash;&gt;-->

    <!--<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Shirts</div>-->
<!--</div>-->